form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgb(241, 183, 181);
}

input::placeholder {
    color: #aaaa;
}